@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-heading: "Poppins", system-ui, sans-serif;

  --color-primary: #4f46e5; /* Indigo-600 */
  --color-primary-light: #6366f1;
  --color-primary-dark: #4338ca;

  --color-accent: #f59e0b; /* Amber-500 */
  --color-accent-light: #fbbf24;
  --color-accent-dark: #d97706;
}
